In [11]:
%load_ext autoreload
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
# 时间周期的对应关系
# gmt + 8 == peking 
# gmt + 3 == tickmill

In [13]:
from Utils.data_get_utils import get_duka_data_df
duka_5m_2020_df = get_duka_data_df("../data/EURUSD5_duka_2020.csv", "EURUSD")
duka_5m_2021_df = get_duka_data_df("../data/EURUSD5_duka_2021.csv", "EURUSD")
duka_5m_df = pd.concat([duka_5m_2020_df, duka_5m_2021_df])

duka_5m_df.head()

     symbol            datetime     open     high      low    close  volume
264  EURUSD 2020-01-01 22:00:00  1.12136  1.12139  1.12120  1.12125   47.60
265  EURUSD 2020-01-01 22:05:00  1.12125  1.12127  1.12125  1.12127   91.79
266  EURUSD 2020-01-01 22:10:00  1.12127  1.12127  1.12123  1.12127   64.98
267  EURUSD 2020-01-01 22:15:00  1.12127  1.12154  1.12127  1.12146   85.07
268  EURUSD 2020-01-01 22:20:00  1.12144  1.12153  1.12137  1.12146  123.93

In [14]:
tickmill_5m_df = pd.read_csv("../data/EURUSD5.csv", names=["date", "time", "Open", "High", "Low", "Close", "Volume"])
tickmill_5m_df["datetime"] = tickmill_5m_df["date"] + " " + tickmill_5m_df["time"]
tickmill_5m_df["datetime"] = pd.to_datetime(tickmill_5m_df["datetime"])
tickmill_5m_df = tickmill_5m_df[["datetime", "Open", "High", "Low", "Close", "Volume"]]

In [15]:
# transfer the tickmill time to the gmt time
# tickmill_time = gmt_time + 3
from datetime import timedelta
tickmill_5m_df["datetime_gmt"] = tickmill_5m_df["datetime"] - timedelta(hours=3)
tickmill_5m_dt_df = tickmill_5m_df
tickmill_5m_dt_df["datetime"] = tickmill_5m_dt_df["datetime_gmt"]
tickmill_5m_dt_df = tickmill_5m_dt_df.drop(columns=["datetime_gmt"])

In [22]:
tickmill_5m_ana_df = tickmill_5m_dt_df[(tickmill_5m_dt_df["datetime"]>="2021-07-06 00:00:00") \
                                       & (tickmill_5m_dt_df["datetime"]<="2021-07-06 23:45:00")].reset_index()

In [23]:
duka_5m_ana_df = duka_5m_df[(duka_5m_df["datetime"]>="2021-07-06 00:00:00")\
                            & (duka_5m_df["datetime"]<="2021-07-06 23:45:00")].reset_index()

In [24]:
tickmill_5m_ana_df

     index            datetime     Open     High      Low    Close  Volume
0    38423 2021-07-06 00:00:00  1.18625  1.18639  1.18602  1.18620     338
1    38424 2021-07-06 00:05:00  1.18616  1.18652  1.18605  1.18652     231
2    38425 2021-07-06 00:10:00  1.18652  1.18666  1.18645  1.18660     140
3    38426 2021-07-06 00:15:00  1.18659  1.18659  1.18634  1.18635     146
4    38427 2021-07-06 00:20:00  1.18634  1.18650  1.18632  1.18633     129
..     ...                 ...      ...      ...      ...      ...     ...
281  38704 2021-07-06 23:25:00  1.18212  1.18217  1.18208  1.18213      68
282  38705 2021-07-06 23:30:00  1.18214  1.18218  1.18207  1.18212     100
283  38706 2021-07-06 23:35:00  1.18214  1.18228  1.18213  1.18222     103
284  38707 2021-07-06 23:40:00  1.18224  1.18250  1.18222  1.18247     145
285  38708 2021-07-06 23:45:00  1.18246  1.18247  1.18231  1.18235     107

[286 rows x 7 columns]

In [25]:
duka_5m_ana_df

,index,symbol,datetime,open,high,low,close,volume
0,53568,EURUSD,2021-07-06 00:00:00,1.18623,1.18637,1.18601,1.18618,503.30
1,53569,EURUSD,2021-07-06 00:05:00,1.18616,1.18651,1.18604,1.18650,167.05
2,53570,EURUSD,2021-07-06 00:10:00,1.18652,1.18664,1.18644,1.18657,125.05
3,53571,EURUSD,2021-07-06 00:15:00,1.18658,1.18658,1.18631,1.18632,162.90
4,53572,EURUSD,2021-07-06 00:20:00,1.18631,1.18648,1.18631,1.18632,126.23
...,...,...,...,...,...,...,...,...
281,53849,EURUSD,2021-07-06 23:25:00,1.18211,1.18217,1.18208,1.18213,30.26
282,53850,EURUSD,2021-07-06 23:30:00,1.18215,1.18219,1.18206,1.18213,50.92
283,53851,EURUSD,2021-07-06 23:35:00,1.18214,1.18229,1.18214,1.18222,64.74
284,53852,EURUSD,2021-07-06 23:40:00,1.18222,1.18248,1.18221,1.18245,145.41
285,53853,EURUSD,2021-07-06 23:45:00,1.18244,1.18244,1.18230,1.18232,108.76

In [37]:
tickmill_5m_ana_df["Open"].loc[2]

1.18652

In [60]:
df1=pd.Series([1.18625])
df2=pd.Series([1.18623])
assert_series_equal(df1, df2, check_names=False, 
                    check_exact=False, atol=4e-5, rtol=0)

In [61]:
tickmill_5m_ana_df["Open"].loc[:5]

0    1.18625
1    1.18616
2    1.18652
3    1.18659
4    1.18634
5    1.18634
Name: Open, dtype: float64

In [62]:
duka_5m_ana_df["open"].loc[:5]

0    1.18623
1    1.18616
2    1.18652
3    1.18658
4    1.18631
5    1.18630
Name: open, dtype: float64

### 以下是按照一定的decimal(小数点后保留精度位数)来测试两个frame是否相同的代码
Pandas和numpy的测试方式都有一定问题，  
所以Assert报出来的错误只要还算ok，就没啥大问题

In [87]:
import numpy as np
from datetime import timedelta
np.testing.assert_array_almost_equal(np.array(tickmill_5m_ana_df["Open"]),
                                     np.array(duka_5m_ana_df["open"]), 
                                     decimal=4, verbose=True)

AssertionError:
Arrays are not almost equal to 4 decimals

Mismatched elements: 3 / 286 (1.05%)
Max absolute difference: 0.00024
Max relative difference: 0.00020303
 x: array([1.1863, 1.1862, 1.1865, 1.1866, 1.1863, 1.1863, 1.1861, 1.1862,
       1.1863, 1.1862, 1.1864, 1.1862, 1.1861, 1.1861, 1.186 , 1.1859,
       1.186 , 1.186 , 1.1861, 1.1861, 1.1862, 1.1863, 1.1864, 1.1866,...
 y: array([1.1862, 1.1862, 1.1865, 1.1866, 1.1863, 1.1863, 1.186 , 1.1862,
       1.1863, 1.1863, 1.1864, 1.1861, 1.1861, 1.1861, 1.186 , 1.1858,
       1.186 , 1.186 , 1.1861, 1.1861, 1.1862, 1.1863, 1.1864, 1.1866,...

In [72]:
from pandas.testing import assert_series_equal

assert_series_equal(tickmill_5m_ana_df["Open"].loc[:], duka_5m_ana_df["open"].loc[:], check_names=False, 
                    check_exact=False, atol=4e-5, rtol=0)

AssertionError: Series are different

Series values are different (11.18881 %)
[index]: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
[left]:  [1.18625, 1.18616, 1.18652, 1.18659, 1.18634, 1.18634, 1.18605, 1.18617, 1.18634, 1.18624, 1.18641, 1.18618, 1.1861, 1.18607, 1.18598, 1.18588, 1.18597, 1.18595, 1.18608, 1.18613, 1.18618, 1.18633, 1.18638, 1.1866, 1.18658, 1.18681, 1.18682, 1.18689, 1.18682, 1.18682, 1.1867, 1.18674, 1.18663, 1.18668, 1.18687, 1.18696, 1.18718, 1.18727, 1.18719, 1.18736, 1.18726, 1.18727, 1.18743, 1.18747, 1.1874, 1.18748, 1.18745, 1.18747, 1.18737, 1.18741, 1.18738, 1.18739, 1.18732, 1.18732, 1.1873, 1.18757, 1.18705, 1.18718, 1.18713, 1.18738, 1.18744, 1.18756, 1.18759, 1.18778, 1.18781, 1.18789, 1.18776, 1.18786, 1.18791, 1.1879, 1.18789, 1.18794, 1.18825, 1.18897, 1.1894, 1.18934, 1.18939, 1.18913, 1.18919, 1.18922, 1.18894, 1.18912, 1.18888, 1.18896, 1.18905, 1.18877, 1.18884, 1.18856, 1.18827, 1.18848, 1.18864, 1.18827, 1.18814, 1.1877, 1.18787, 1.18774, 1.18723, 1.18699, 1.18654, 1.1861, ...]
[right]: [1.18623, 1.18616, 1.18652, 1.18658, 1.18631, 1.1863, 1.18604, 1.18617, 1.18633, 1.18626, 1.1864, 1.18611, 1.18605, 1.18607, 1.18597, 1.18583, 1.18595, 1.18595, 1.18607, 1.18612, 1.18618, 1.18628, 1.18637, 1.18657, 1.18655, 1.18676, 1.18679, 1.18687, 1.1868, 1.18681, 1.18667, 1.18673, 1.18661, 1.18666, 1.18686, 1.18696, 1.18716, 1.18725, 1.18716, 1.18731, 1.18723, 1.18724, 1.1874, 1.18744, 1.18739, 1.18743, 1.18742, 1.18744, 1.18735, 1.18738, 1.18735, 1.18736, 1.18729, 1.18729, 1.18728, 1.18755, 1.18703, 1.18715, 1.18711, 1.18737, 1.18741, 1.18754, 1.18757, 1.18775, 1.1878, 1.18786, 1.18774, 1.18785, 1.18787, 1.18789, 1.18788, 1.18793, 1.18825, 1.18897, 1.18939, 1.18935, 1.18937, 1.18913, 1.1892, 1.18921, 1.18891, 1.18909, 1.18886, 1.18896, 1.18902, 1.18877, 1.18882, 1.18854, 1.18824, 1.18847, 1.18863, 1.18826, 1.18812, 1.1877, 1.18789, 1.18771, 1.18719, 1.18696, 1.18652, 1.18607, ...]

In [52]:
import pandas as pd
import pandas.testing

df1 = pd.DataFrame([42])
df2 = pd.DataFrame([41])
#This test fails as expected
pd.testing.assert_frame_equal(df1, df2, check_exact=False, atol=0.1)

AssertionError: DataFrame.iloc[:, 0] (column name="0") are different

DataFrame.iloc[:, 0] (column name="0") values are different (100.0 %)
[index]: [0]
[left]:  [42]
[right]: [41]

In [54]:
df1 = pd.DataFrame([2006642])
df2 = pd.DataFrame([2006641])
pd.testing.assert_frame_equal(df1, df2, check_exact=False, atol=0.1, rtol=0)
#this test passes, but it should not

AssertionError: DataFrame.iloc[:, 0] (column name="0") are different

DataFrame.iloc[:, 0] (column name="0") values are different (100.0 %)
[index]: [0]
[left]:  [2006642]
[right]: [2006641]

### Sanity Check 成功，下载dukascopy数据的时候采用（Markdown结尾添加两个空格等于换行）
Filter flats: Weekends  
Day start time: UTC | GMT  
卡这三个点来下载，然后就可以得到标准GMT时间对应的数据  
Tickmill默认时间是gmt + 3(hours)，所以转换过后时间轴就一致了