In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
from Utils.data_utils import get_duka_data_df
duka_5m_df = get_duka_data_df("../data/EURUSD5_duka_2021.csv", "EURUSD")

duka_5m_df.head()

     symbol            datetime     open     high      low    close   volume
840  EURUSD 2021-01-03 22:00:00  1.22396  1.22420  1.22296  1.22347  115.280
841  EURUSD 2021-01-03 22:05:00  1.22347  1.22347  1.22298  1.22322   37.555
842  EURUSD 2021-01-03 22:10:00  1.22310  1.22319  1.22309  1.22315    3.020
843  EURUSD 2021-01-03 22:15:00  1.22324  1.22365  1.22324  1.22356  139.642
844  EURUSD 2021-01-03 22:20:00  1.22356  1.22356  1.22341  1.22341  126.250

In [19]:
data_ana_df = duka_5m_df[(duka_5m_df["datetime"]>="2021-01-02 00:00:00") & (duka_5m_df["datetime"]<="2021-01-04 23:59:59")]
data_ana_df.head()

     symbol            datetime     open     high      low    close   volume
840  EURUSD 2021-01-03 22:00:00  1.22396  1.22420  1.22296  1.22347  115.280
841  EURUSD 2021-01-03 22:05:00  1.22347  1.22347  1.22298  1.22322   37.555
842  EURUSD 2021-01-03 22:10:00  1.22310  1.22319  1.22309  1.22315    3.020
843  EURUSD 2021-01-03 22:15:00  1.22324  1.22365  1.22324  1.22356  139.642
844  EURUSD 2021-01-03 22:20:00  1.22356  1.22356  1.22341  1.22341  126.250

In [20]:
from Utils.data_utils import get_fm_rc_data_df
rc_df = get_fm_rc_data_df("../data/yht_rc.csv")
rc_df.head()

,symbol,action,lots,open_date,close_date,open_price,close_price,profits,pips
0,XAUUSD,sell,0.01,2021-07-09 18:14:50,2021-07-09 18:44:21,1808.27000,1808.19000,0.08,0.8
1,XAUUSD,sell,0.01,2021-07-09 18:01:27,2021-07-09 18:08:00,1807.84000,1807.72000,0.12,1.2
2,GBPUSD,sell,0.01,2021-07-09 17:20:29,2021-07-09 17:56:29,1.38567,1.38552,0.15,1.5
3,GBPUSD,sell,0.01,2021-07-09 17:35:57,2021-07-09 17:56:15,1.38636,1.38602,0.34,3.4
4,GBPUSD,sell,0.01,2021-07-09 17:38:30,2021-07-09 17:55:51,1.38672,1.38606,0.66,6.6